@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

header {
    background-color: #fdfae7;
    padding: 20px;
}

.logo {
    display: flex;
    width: 80px;
    height: 80px;
}

nav ul {
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    font-size: 1rem;
    transition: color 0.5s;
}

nav a:hover {
    color: #23527c;
}

nav button{
    transition:  0.5s;
}

article {
    padding: 0px 5%;
}

img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-color: #fdfae7;
    padding: 10px;
    text-align: center;
    color: #666;
    margin: 0;
    font-size: 0.875rem;
}

nav .cadastro {
    margin: 2px;
    padding: 15px;
    border-radius: 5px;
    border: none;
}

nav .cadastro:hover {
    color: white;
    text-decoration: none;
}

nav #entrar {
    background-color: #f8e041;
}

nav #entrar:hover, #registrar:hover{
    background-color: #a18c00 ;

}

button #botao__login:hover, #botao__cadastro:hover{
    color: white;
}
